{
  "presets": [
    "module:metro-react-native-babel-preset",
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "@babel/preset-react"
  ],
  "plugins": []
}